*{
    padding: 0;
    margin: 0;
}
body{
  background:grey;
  width: 100%;
  height: 100%;
}
/* Navigationbar css*/
.Nav p{
  color:yellow;
  font-size: 30px;
  display: block;
  float: left;
}
.Nav{
    background: green;
    text-align: end;
}
.Nav ul{
  display:inline-flex;
  list-style: none;
  color: white;
}
.Nav ul li{
  width: 100px;
  padding: 50px;
  margin: -30px;
}
.Nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.Nav ul li a:hover{
  background: yellow;
}
/* index page css */
.slider-box {
  width     : 90%;
  max-height: 60vh;
  position  : relative;
  overflow  : hidden;
  margin    : 30px auto;
}

#slides {
  width     : 100%;
  display   : inline-flex;
  transition: 0.7s;
}

#slides img {
  width: 60%;
}

.indicator {
  position : absolute;
  left     : 50%;
  bottom   : 20px;
  transform: translateX(-50%);
}

.indicator span {
  display      : inline-block;
  width        : 15px;
  height       : 15px;
  border-radius: 50%;
  background   : rgba(255, 255, 255, 0.5);
  cursor       : pointer;
}

.active {
  background: #ffff !important;
}
/*Doctors css*/
.Doctors{
  display: inline-flex;
}
.Doctors img{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.Doctors1{
  display: inline-flex;
}
.Doctors1 img{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.Doctors2{
  display: inline-flex;
}
.Doctors2 img{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.Doctors3{
  display: inline-flex;
}
.Doctors3 img{
  border-radius: 50%;
  width: 24%;
  height: 24%;
}
.Doctors4{
  display: inline-flex;
}
.Doctors4 img{
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.Doctors5{
  display: inline-flex;
}
.Doctors5 img{
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-left: 53%;
  margin-top: -100px;
}
.Doctors5 .Name{
  margin-top: -110px;
  padding: 30px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.Doctors5 .position{
  margin-top: -110px;
  padding: 30px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.Name{
padding: 30px;
margin-top: 40px;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
cursor: pointer;
}
.position{
padding: 30px;
margin-top: 40px;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
cursor: pointer;
}
.Name:hover{
  color: green;
}
.position:hover{
  color: green;
}
/* form */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  float:right;
  margin-right: 60vh;
  margin-top: 60px; 
  background-color: red;
  padding: 10px;
}
.container .id{
  margin-left: 20vh;
  padding: 10px;
}
textarea{
  margin-left: 22vh;
}
.send{
border-radius: -50px;
display: block;
border: 2px solid;
font-size: 14px;
margin-left: 22vh;
padding: 7px 20px;
cursor: pointer;
}
.send:hover{
  color: blue;
}
/*footer css*/
footer{
  bottom: 0px;
  position: absolute;
  width: 100%;
  background: black;
}
.main-content{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
}
/* blog css */
.image img{
width: 35%;
height: 90vh;
float: left;
margin-right: 30px;
margin-bottom: 10px;
}
.intro p{
color:black;
padding:3px;
margin: 14px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
word-spacing: 1.5px;
}
.intro h1{
  color: blue;
}
.intro h1:hover{
  color: red;
}
/*register*/
}
section .form-box form{
	margin-top: 10px;
}
section .form-box input:focus,textarea:focus,button:focus{
	outline: none;
}
section .form-box input,textarea{
	width: 40%;
	height: 30px;
	border:1px solid #ccc;
	border-radius: 5px;
	font-family: Gotu;
	font-size: 20px;
}
textarea{
	height: 10px;
}
section .form-box form #register-btn{
	font-family: Muli;
	font-size: 20px;
	color: white;
	border:none;
	cursor: pointer;
	border-radius: 3px;
}
button{
border-radius: 50px;
display: block;
border: 2px solid;
font-size: 14px;
margin-left: 22vh;
padding: 7px 20px;
cursor: pointer;
}
button:hover{
  color: green;
}